<h2>Aircraft</h2>

<table border="solid">
	<thead>
		<tr>
			<th>Manufacturer</th>
			<th>Model</th>
			<th>Registration</th>
		</tr>
	</thead>
	<tbody>
	    {{#each aircraft}}
		<tr>
			<td>{{manufacturer}}</td>
			<td>{{model}}</td>
			<td>{{registrationNumber}}</td>
			<td><button onclick="deleteAircraft({{id}})">Delete</button></td>
			<td><a href="/db-project/aircraft/{{id}}">Update</a></td>
		</tr>	
		{{/each}}
	</tbody>
</table>

<form id="createAircraft" action="/db-project/aircraft" method="post"> <!-- Change this later -->
	<fieldset>
		<legend>Create Aircraft</legend>
		<p>Type:
			<select name="acType">
				{{#each aircraftType}}
				<option value="{{id}}">{{manufacturer}} {{model}}</option>
				{{/each}}
			</select>
		</p>
		<p>
			<label for="registrationNumber">Registration Number:</label>
			<input type="text" name="registrationNumber">
		
		<input type="submit" value="Submit" name="AircraftSubmit">
	</fieldset>
</form>

<a href="/db-project/aircraft/aircraftType">Add a new Aircraft Type</a>
