<h2>Crew Members</h2>
<table border="solid">
	<thead>
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Position</th>
			<th>Crew Base</th>
		</tr>
	</thead>
	<tbody>
	    {{#each crew_member}}
		<tr>
			<td>{{fname}}</td>
			<td>{{lname}}</td>
			<td>{{role}}</td>
			<td>{{crewbase}}</td>
			<td><button onclick="deleteCrew({{id}})">Delete</button></td>
			<td><a href="/db-project/crew/{{id}}">Update</a></td>
		</tr>	
		{{/each}}
	</tbody>
</table>

<form id="addCrew" action="/db-project/crew" method="post">
	<fieldset>
		<legend>Add Crew Memeber</legend>
		<p>
			<label for="fname">First Name:</label>
			<input type="text" name="fname">
		</p>
		<p>
			<label for="lname">Last Name:</label>
			<input type="text" name="lname">
		</p>
		<p>
			<label for="position">Position:</label>
			<input type="text" name="position">
		</p>
		<p>Crew Base:
			<select name="crewMemberBase">
				{{#each crewbase}}
				<option value="{{id}}">{{city}}</option>
				{{/each}}
			</select>
		</p>
		<input type="submit" value="Submit" name="CrewSubmit">
	</fieldset>
</form>

<div>
<a href="/db-project/crew/crewbase">Add a new crewbase</a>
</div>
<div>
<a href="/db-project/crew/crewsearch">Search a crewmembers certifications</a>
</div>

