
<h2>Flights</h2>
<table border="solid">
	<thead>
		<tr>
			<th>Flight Number</th>
			<th>Aircraft</th>
			<th>Departure City</th>
			<th>Arrival City</th>
			<th>Date & Time</th>
		</tr>
	</thead>
	<tbody>
	    {{#each flights}}
		<tr>
			<td>{{flightNum}}</td>
			<td>{{registrationNumber}}</td>
			<td>{{departureCity}}</td>
			<td>{{arrivalCity}}</td>
			<td>{{dateTime}}</td>
			<td><button onclick="deleteflight({{id}})">Delete</button></td>
			<td><a href="/db-project/flights/{{id}}">Update</a></td>
		</tr>	
		{{/each}}
	</tbody>
</table>

<form id="addFlight" action="/db-project/flights" method="post">
	<fieldset>
		<legend>Add Flight</legend>
		<p>
			<label for="flightNum">Flight Number:</label>
			<input type="text" name="flightNum">
		</p>
		<p>Aircraft:
			<select name="aircraft">
				{{#each aircraft}}
				<option value="{{id}}">{{registrationNumber}}</option>
				{{/each}}
			</select>
		</p>
		<p>
			<label for="departure">Departure City:</label>
			<input type="text" name="departure">
		</p>
		<p>
			<label for="arrival">Arrival City:</label>
			<input type="text" name="arrival">
		</p>
		<p>
			<label for="dateTime">Date and Time:</label>
			<input type="datetime-local" name="dateTime">
		</p>
		<input type="submit" value="Submit" name="flightSubmit">
	</fieldset>
</form>

<br>
<h2>Crew Member Flight Assignments</h2>
<table border="solid">
	<thead>
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Flight Number</th>
			<th>Date & Time</th>
		</tr>
	</thead>
	<tbody>
	    {{#each crew_flight}}
		<tr>
			<td>{{fname}}</td>
			<td>{{lname}}</td>
			<td>{{flightNum}}</td>
			<td>{{dateTime}}</td>
			<td><button onclick="deleteCrewFlight({{id}})">Delete</button></td>
		</tr>
		{{/each}}
	</tbody>
</table>
<a href="/db-project/flights/assignflight">Assign a crew member to a flight</a>