<h1>Update Aircraft Registration Number {{aircraft.registrationNumber}}:</h1>
<form id="update-aircraft" action="/db-project/aircraft" method="post">
    Type: <select name="aircraftType" id="aircraftType-selector"> 
        {{#each aircraftType}}
			<option value="{{id}}">{{manufacturer}} {{model}}</option>
		{{/each}}
    </select><br>
    Registration Number: <input type="text" name="registrationNumber" value="{{aircraft.registrationNumber}}"><br>
</form>
<button onclick="updateAircraft({{aircraft.id}})">Update</button>
<script defer>selectAircraftType({{aircraft.type}});</script>