<h1>Update {{crew_member.fname}} {{crew_member.lname}}:</h1>
<form id="update-crew" action="/db-project/crew" method="post">
    First name: <input type="text" name="fname" value="{{crew_member.fname}}"><br>
    Last name: <input type="text" name="lname" value="{{crew_member.lname}}"><br>
    Crew Base: <select name="crewbase" id="crewbase-selector"> 
        {{#each crewbase}}
        <option value="{{id}}">{{city}}</option>
        {{/each}}
    </select><br>
    Role: <input type="text" name="role" value="{{crew_member.role}}"><br>
</form>
<button onclick="updateCrew({{crew_member.id}})">Update</button>
<script defer>selectCrewBase({{crew_member.crewbase}});</script>
