<h1>Update {{flight.flightNum}}:</h1>
<form id="update-flight" action="/db-project/flights" method="post">
    Flight Number: <input type="text" name="flightNum" value="{{flight.flightNum}}"><br>
    Aircraft: <select name="aircraft" id="aircraft-selector"> 
        {{#each aircraft}}
        <option value="{{id}}">{{registrationNumber}}</option>
        {{/each}}
    </select><br>
    Departure City: <input type="text" name="departure" value="{{flight.departureCity}}"><br>
    Arrival City: <input type="text" name="arrival" value="{{flight.arrivalCity}}"><br>
    Date and Time: <input type="datetime-local" name="dateTime" value="{{flight.dateTime}}"><br>
</form>
<button onclick="updateflight({{flight.id}})">Update</button>
<script defer>selectAircraft({{flight.aircraft}});</script>
